<h1><a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=Biography&name=
JandaHappyDay.ttf&size=50&style_color=15155E" alt="Fancy Fonts"></a></h1>
<p>
  <strong>Name:</strong>
  <%= @artist_name%>
</p>
 
<p>
  <%= image_tag @img_url %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @summary %>
</p>

