<h1><a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=Add a New favorite&name=
JandaHappyDay.ttf&size=50&style_color=15155E" alt="Fancy Fonts"></a></h1>

<%= render 'form' %>

<%= link_to 'Back', favorates_path %>
