<h1><a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=Event &name=
JandaHappyDay.ttf&size=50&style_color=15155E" alt="Fancy Fonts"></a></h1>
<p>
	<% if @event_array.nil?%>
	  <%="NO TOP EVENT FOUND FOR #{@name}"%>
	<% else %>	
	<ol>
		<% for @event in @event_array -%>
			<ul>
				<li>Title: <%=@event["title"]%></li>
				<li>Event URL:<%=link_to "Click here for more information", @event["venue"]["url"]%></li>
			</ul>
			<br>
		<% end -%>
	</ol>
	<%end%>
</p>

