<h1>Top Albums</h1>
<p>

	<% if @album_array.nil?%>
	  <%="NO TOP ALBUMS FOUND FOR #{@name}"%>
	<% else %>
	<ol>
		<% for @album in @album_array -%>
			<li>Album: <%=link_to @album["name"], @playlistId[@album_name]%></li>
		<% end -%>
	</ol>
	<% end %>
</p>
