<h1><a href="http://fontmeme.com/fancy-fonts/"><img src="http://fontmeme.com/embed.php?text=MusicGrocery&name=
JandaHappyDay.ttf&size=50&style_color=15155E" alt="Fancy Fonts"></a></h1>

<%= form_for :search, url: "/search/details" do |f| %>
<p>
    <%= f.label "Artist Name" %><br>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.submit "Search!", :class => "btn-custom" %>
 </p>
<% end %>



